body{
  margin: 0 auto;
  width: 900px;
  background-color: #CABBE9;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #89023E;
}
h1{
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  color: #89023E;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background-color: none;
}
h2{
  margin: 0;
  padding: 0;
  padding-left: 5px;
  font-weight: normal;
  font-size: 28px;
}
h1 blockquote {
  display: inline-block;
}
blockquote {
  border-bottom: dotted 3px #A1EAFB;
  margin: 0;
  padding: 20px 0 30px 0;
  width: 600px;
}
.title {
  font-weight: bold;
  color: #FFCEF3;
}
main{
  background-color: #FDFDFD;
  padding: 10px 90px 100px 90px;
  border-radius: 10px;
}
nav {
  align-self: flex-end; 
  padding: 0px; 
  margin: 0px;
}
header{
  background-color: #FDFDFD;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  text-decoration: none;
  margin: 0;

}
a {
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}
.nav{
  background-color: #CABBE9;
}
/* a:hover{
  background-color: #FFCEF3;
  border-radius: 10px;
} */

.logo{
  padding-bottom: 20px;
}

/* Hover animation */
div.container
{
    font-family: Raleway;
    margin: 0 auto;

	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px 'Open Sans';
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* Brackets go out */
div.brackets a:before, div.brackets a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

div.brackets a:before
{
    content: '<';
    left: -10px;
    transform: translateX(10px);
}

div.brackets a:after
{
    content: '>';
    right: -10px;
    transform: translateX(-10px);
}

div.brackets a:hover:before, div.brackets a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}
