doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Girl's get coding!
    link(rel='stylesheet', type='text/css', href='./styles.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:100', rel='stylesheet')
  body
    main
      h1 Girls getCode
      p
        | "I am the blood of the dragon. I must be strong. I must have fire in my eyes when I face them. not tears."  ˜Daenerys Targaryen.  Girls get coding. Your code of your world.
      ul
        li
          | Meme Machine
        li
          | Code Challenges
