body{
  margin: 0 auto;
  width: 500px;
  background-color: #F0F0C9;
}
p{
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  color: #700548;
  font-weight: bold;
}
.title {
  font-weight: thin;
}
main{
  background-color: white;
}
